*{
    margin: auto 0;
    padding: auto 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    width: 100%;
    height: 4em;
    background-color: rgb(248, 241, 236);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3px;
    position: fixed;
}
.logo{
    width: 3em;  
    height: 3em;
}
.logo img{
    width: 100%;
    border-radius: 100%;
}
ul {
    width: 85%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    width: 6em;
    height: 2em;
}
a{
    text-decoration: none;
    color: rgb(212, 95, 12, 0.833);
}
li a:hover{
    text-decoration: underline rgb(212, 95, 12, 0.833);
}
header{
    width: 100%;
    height: 100vh;
    background: url(../img/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.encabezado{
    width: 100%;
    height: 100%;
    background-color: rgb(165, 42, 42, 0.292);
    text-align: center;
    padding-top: 15em;
    color: aliceblue;
}
h1{
    font-size: 52px;
}
.encabezado h2{
    font-size: 32px;
}
.encabezado h3{
    font-size: 28px;
    font-weight: 400;
}
.btn-encabezado{
    width: 7em;
    height: 4em;
    padding: 1px;
    font-size: 20px;
    background-color: rgba(255, 179, 0, 0.685);
    border: none;
    border-radius: 15px;
    transition: 0.04s;
}
.btn-encabezado:hover{
    background-color: rgba(255, 179, 0, 0.822);
}
section{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
#nosotros{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: inline;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#nosotros h3{
    font-size: 27px;
    font-weight: 200;
    color: chocolate;
    margin: 50px;
}
p{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
